[submodule "Source/Hi3Helper.SharpHDiffPatch"]
	path = Source/Hi3Helper.SharpHDiffPatch
	url = https://github.com/neon-nyan/Hi3Helper.SharpHDiffPatch.git
[submodule "Source/MultiStream"]
	path = Source/MultiStream
	url = https://github.com/jplane/MultiStream.git
